<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/trident.css">
        <link rel="stylesheet" type="text/css" href="static/css/infomovie.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    		<link rel="stylesheet" type="text/css" href="../static/css/trident.css">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
	</head>
	<body>
        <div class="row">
            {% include 'navbar.html' %}
        </div>
        <div class="container-fluid" >
            <div class="row info-div">
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image">
                                <img src="{{movie_info.image}}" style="box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            </div>
                        </div>
                        <div class="col-md-8">

                            <div class="about_mov">
                                <div class="row title_mov">
                                    <div class="col-md-9">
                                        {{movie_info.title}}
                                    </div>
                                    <div class="col-md-1">
                                         {% if current_user.is_authenticated %}
                                            {% if movie_info['like'] == true %}
                                                <i id="like0" onclick="like_click('{{movie_info['id']}}')" class="fas fa-heart point icon_i"></i>
                                            {% else %}
                                                <i id="like0" onclick="like_click('{{movie_info['id']}}')" class="far fa-heart point icon_i"></i>
                                            {% endif %}
                                        <!-- <i id="like0" onclick="like_click('{{movie_info.title}}')" class="far fa-heart point icon_i"></i> -->
                                        {% endif %}
                                    </div>
                                    <div class="col-md-1">
                                         {% if current_user.is_authenticated %}
                                            {% if movie_info['like'] == false %}
                                                <i id="dislike0" onclick="like_click('{{movie_info['id']}}')" class="icon_i fas fa-times-circle point"></i>
                                            {% else %}
                                                <i id="dislike0" onclick="like_click('{{movie_info['id']}}')" class="icon_i far fa-times-circle point"></i>
                                            {% endif %}
                                        <!-- <i id="dislike0" onclick="dislike_click('{{movie_info.title}}')" class="icon_i far fa-times-circle point"></i> -->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="about_other">
                                <div class="row genre_mov">
                                    <div class="col-md-6">
                                        <div class="genre">
                                            {{movie_info.genre}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="released">
                                            {{movie_info.released}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="about_other">
                                <div class="row overview_mov">
                                    {{movie_info.plot}}
                                </div>
                            </div>
                            <div class="about_other">
                                <div class="row director_mov">
                                {{movie_info.director}}
                                </div>
                                <div class="row actors_mov">
                                    {{movie_info.actors}}
                                </div>
                                <div class="row actors_mov" style="margin-top:3% !important;">
                                   Awards: {{movie_info.awards}}
                                </div>
                                <div class="row actors_mov">
                                   Runtime: {{movie_info.runtime}}
                                </div>
                                <div class="row actors_mov">
                                   Rated: {{movie_info.rated}}
                                </div>
                                <div class="row actors_mov">
                                    {{ movie_info.rating_source }}: {{ movie_info.rating_value }}
                                </div>
                                <div class="row actors_mov ">
                                    <div class="col-md-1 links">
                                        <a href="{{ movie_info.trailer }}">Trailer</a>
                                    </div>
                                    <div class="col-md-2 links">
                                         <a href="{{ movie_info.soundtrack[0] }}">Soundtrack</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>

   function like_click(movie){
		$.ajax({
			type: "POST",
			url: "{{ url_for("movie") }}",
			contentType: "application/json",
			data: JSON.stringify({movie: movie, like: true}),
			dataType: "json",
			success: function(response) {
                console.log(response);
                $(`#like0`).toggleClass("fas far");
			},
			error: function(err) {
				console.log(err);
			}
		});
   }
   function dislike_click(movie){
		$.ajax({
			type: "POST",
			url: "{{ url_for("movie") }}",
			contentType: "application/json",
			data: JSON.stringify({movie: movie, like: false}),
			dataType: "json",
			success: function(response) {
                console.log(response);
                $(`#dislike0`).toggleClass("fas far");
			},
			error: function(err) {
				console.log(err);
			}
		});
   }
</script>