

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%!important">
	<a class="navbar-brand" href="#"><img src="../static/trident.png" alt="TRIDENT" style="height: 30px;padding-left:10px"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
		    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			{% if current_user.is_authenticated %}

		  <li class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		      Movies
		    </a>
		    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		      <a class="dropdown-item" href="trending.html">Discover</a>
		      <a class="dropdown-item" href="recommendations.html">Recommendations</a>
            </div>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="my_profile">{{current_user.first_name}} <span class="sr-only">(current)</span></a>
			</li>
		</ul>
		<form action="/search_movies" method="POST" class="form-inline my-3 my-lg-0">
			  <input class="form-control mr-sm-2" name="movie_keyword" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search movies</button>
		</form>
		{% else %}
		{% endif %}
		{% if current_user.is_authenticated %}
				<form action="/logout" class="form-inline my-1 my-lg-0" style="margin-left:5%">
						<button  class="btn btn-primary login_button" type="submit">Logout</button>
				</form>
		{% else %}
			<div class="navbar-nav ml-auto">
				<form action="/login_page" class="form-inline my-1 my-lg-0" style="margin-left:5%">
					<button  class="btn btn-primary login_button" type="submit">Login</button>
				</form>
			</div>
		{% endif %}
	</div>
</nav>

