<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="static/css/list.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			function myFunction() {
  				document.getElementById("myDropdown").classList.toggle("show");
			}

			function myFunction1() {
  				document.getElementById("genre").classList.toggle("show");
			}
			// Close the dropdown menu if the user clicks outside of it
			window.onclick = function(event) {
  				if (!event.target.matches('.dropbtn')) {
    				var dropdowns = document.getElementsByClassName("dropdown-content");
					var i;
   					for (i = 0; i < dropdowns.length; i++) {
      					var openDropdown = dropdowns[i];
      					if (openDropdown.classList.contains('show')) {
        					openDropdown.classList.remove('show');
      					}
    				}
  				}
			}

			function showEverything(movies) {
				movies.forEach(mov => {
							var newElement = document.createElement('div');
							newElement.className = "grid-item";
							var newPoster = document.createElement('div');
							newPoster.className = "thumbnail";
							newPoster.style = "background-color: green";
							var picture = document.createElement('img');
							picture.src = "http://image.tmdb.org/t/p/w400" + mov['poster_path'];
							var title = document.createElement('p');
							title.style = "font-family: Verdana, Geneva, Tahoma, sans-serif";
							title.innerHTML = mov['title'];
							newPoster.appendChild(picture);
							newPoster.appendChild(title);
							newElement.appendChild(newPoster);
							var grid = document.getElementById("lista");
							grid.appendChild(newElement);
				});
			}

			function showList(movies) {
				movies.forEach(mov => {
					console.log(mov)
					var newElement = document.createElement('div');
					newElement.className = "grid-item";
					var newPoster = document.createElement('div');						
					newPoster.className = "thumbnail";
					newPoster.style = "background-color: green";
					var title = document.createElement('p');
					title.style = "font-family: Verdana, Geneva, Tahoma, sans-serif";
					title.innerHTML = mov[0];
					newPoster.appendChild(title);
					newElement.appendChild(newPoster);
					var grid = document.getElementById("lista");
					grid.appendChild(newElement);
			});
			}

			function getMoviesTheater() {
				discover_title.innerText = "MOVIES IN THEATER";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "hidden";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("movies_in_theatre") }}",
					contentType: "application/json",
					//data: JSON.stringify({movie: movie}),
					//dataType: "json",
					success: function(response) {
						movies = JSON.parse(response);
						showEverything(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}

			function getUpcomingMovies() {
				discover_title.innerText = "UPCOMING MOVIES";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "hidden";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("upcoming_movies") }}",
					contentType: "application/json",
					//data: JSON.stringify({movie: movie}),
					//dataType: "json",
					success: function(response) {
						movies = JSON.parse(response);
						showEverything(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}

			function getMostPopular() {
				discover_title.innerText = "THE MOST POPULAR MOVIES";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "visible";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("most_popular_movies_today") }}",
					contentType: "application/json",
					//data: JSON.stringify({movie: movie}),
					//dataType: "json",
					success: function(response) {
						movies = JSON.parse(response);
						showEverything(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}

			function getTopRated() {
				discover_title.innerText = "TOP RATED MOVIES";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "hidden";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("top_rate_movies_ever") }}",
					contentType: "application/json",
					//data: JSON.stringify({movie: movie}),
					//dataType: "json",
					success: function(response) {
						movies = JSON.parse(response);
						showEverything(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}

			function getHighestGrossing() {
				discover_title.innerText = "HIGHEST GROSSING MOVIES";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "hidden";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("most_highest_grossing_movies_all") }}",
					contentType: "application/json",
					success: function(response) {
						movies = JSON.parse(response);
						showEverything(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}

			function byGenre(id) {
				discover_title.innerText = "THE MOST POPULAR MOVIES";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "visible";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("get_most_popular_movies_by_genre") }}",
					contentType: "application/json",
					data: JSON.stringify({genre_id: id}),
					success: function(response) {
						movies = JSON.parse(response);
						showEverything(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}

			function getMostVoteCount() {
				discover_title.innerText = "MOST VOTE COUNT";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "hidden";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("get_movies_with_most_vote_count") }}",
					contentType: "application/json",
					success: function(response) {
						movies = JSON.parse(response);
						showEverything(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}

			function getMostSuccessfulCompanies() {
				discover_title.innerText = "THE MOST SUCCESSFUL COMPANIES";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "hidden";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("get_the_most_successful_companies")}}",
					contentType: "application/json",
					success: function(response) {
						console.log(response);
						movies = JSON.parse(response);
						showList(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}

			function getMostSuccessfulActors() {
				discover_title.innerText = "THE MOST SUCCESSFUL ACTORS";
				var genre = document.getElementById("genreB");
				genre.style.visibility = "hidden";
				var myNode = document.getElementById("lista");
				while (myNode.firstChild) {
   					 myNode.removeChild(myNode.firstChild);
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for("get_the_most_successful_actors")}}",
					contentType: "application/json",
					success: function(response) {
						console.log(response);
						movies = JSON.parse(response);
						showList(movies);
					},
					error: function(err) {
						console.log(err);
					}
				});
			}
		</script>
	</head>
	<body>
		<div class="container-fluid" style="width: 100%; align-content: center">
			<div class="row" style="margin-bottom: 25px">
				 {% include 'navbar.html' %}
			</div>
			<div class="row" style="height: 50px">
				<h3 class="column" id="discover_title"></h3>
				<div class="dropdown column">
					<button onclick="myFunction()" class="dropbtn">DISCOVER</button>						
					<div id="myDropdown" class="dropdown-content">
						<a onclick="getMoviesTheater()">Movies in theater</a>
			  			<a onClick="getUpcomingMovies()">Upcoming movies</a>
			  			<a onclick="getMostPopular()">Most popular</a>
			  			<a onclick="getTopRated()">Top rated</a>
						<a onclick="getHighestGrossing()">Highest grossing</a>				  			
						<a onclick="getMostVoteCount()">Most vote count</a>
						<a onclick="getMostSuccessfulCompanies()">Most successful companies</a>
			  			<a onClick="getMostSuccessfulActors()">Most successful actors</a>
					</div>
				</div>
				<div class="dropdown column">
					<button onclick="myFunction1()" class="dropbtn" style="visibility: hidden" id="genreB">GENRE</button>						
					<div id="genre" class="dropdown-content"> 
						<a onClick="byGenre(28)" value="28">Action</a>
						<a onClick="byGenre(12)" value="12">Adventure</a>
						<a onClick="byGenre(16)" value="16">Animation</a>
						<a onClick="byGenre(35)" value="35">Comedy</a>
						<a onClick="byGenre(80)" value="80">Crime</a>
						<a onClick="byGenre(99)" value="99">Documentary</a>
						<a onClick="byGenre(18)" value="18">Drama</a>
						<a onClick="byGenre(10751)" value="10751">Family</a>
						<a onClick="byGenre(14)" value="14">Fantasy</a>
						<a onClick="byGenre(36)" value="36">History</a>
						<a onClick="byGenre(27)" value="27">Horror</a>
						<a onClick="byGenre(10402)" value="10402">Music</a>
						<a onClick="byGenre(9648)" value="9648">Mystery</a>
						<a onClick="byGenre(10749)" value="10749">Romance</a>
						<a onClick="byGenre(878)" value="878">SF</a>
						<a onClick="byGenre(10770)" value="10770">Tv Movie</a>
						<a onClick="byGenre(53)" value="53">Thriller</a>
						<a onClick="byGenre(10752)" value="10752">War</a>
					</div>
				</div>
			</div>
			<div class="grid-container" id="lista"></div>
		</div>
	</body>
</html>